<mat-card class="request-card">
  <mat-card-header>
    <mat-card-title class="request-card-title">{{ this.request.itemType }} </mat-card-title>
  </mat-card-header>
  <mat-card-content class="request-card-description" [ngClass]="{'display-full-card-view': viewExpanded}">{{ this.request.description }} </mat-card-content>
  <mat-card-footer style="font-style: italic">
    <div *ngIf="this.showName;then volunteerView else donorView"></div>
    <ng-template #volunteerView>
      <mat-card-actions #volunteerView class="request-card-name">Requested by {{ this.request.name }}</mat-card-actions>
    </ng-template>
    <ng-template #donorView>
      <mat-card-actions #donorView class="request-card-name">Requested by Anonymous</mat-card-actions>
    </ng-template>
  </mat-card-footer>
  <!-- TODO: find out why this is not expanding the card body. It seems that it doesn't even call the method at all when clicked, since nothing is
        logged to the console even with a console.log() statement in the method. -->
  <button mat-button block type="button" (click)="expandView()">EXPAND</button>
</mat-card>
