
.mat-mdc-card-content {
  height: 25px;
  color: grey;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis !important;


}
.display-full-card-view {
  height: auto;
  white-space: normal;
}
