<mat-card class="request-card">
  <mat-card-header>
    <mat-card-title class="request-card-title">{{ this.request.itemType }}</mat-card-title>
  </mat-card-header>

  <mat-card-content class="request-card-description">{{ this.request.description }}</mat-card-content>

  <mat-card-footer>
    <div *ngIf="showName; then volunteerView else donorView"></div>
    <ng-template #volunteerView>
      <mat-card-actions class="request-card-name">Requested by {{ this.request.name }}</mat-card-actions>
      <mat-card-actions>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/edit-card', this.request._id]">Edit</button>
          <!-- <button mat-menu-item (click)="deleteRequest()">Delete</button> -->
        </mat-menu>
      </mat-card-actions>
    </ng-template>
    <ng-template #donorView>
      <mat-card-actions class="request-card-name">Requested by Anonymous</mat-card-actions>
    </ng-template>
  </mat-card-footer>
</mat-card>
